@import '../../../styles/global.scss';

.root {
  .loginForm {
    background-color: #363636;
    color: white;
    width: auto;
    margin-top: 25px;
    padding: 20px;

    .submit {
      width: 100%;
    }

    .emailText {
      color: white;
    }

    .registerText {
      cursor: pointer;
    }
  }

}
